### NOTE ###

   on init
       symlink /dev/block/platform/bootdevice /dev/block/bootdevice
       export LD_LIBRARY_PATH /system/lib:/vendor/lib:/vendor/lib/hw:/system/lib/hw

   on fs
       mkdir /mnt/vendor 0700 root root
       mkdir /mnt/vendor/persist 0700 root root
       mount ext4 /dev/block/by-name/persist /mnt/vendor/persist

on property:ro.mtk_emmc_support=1
    # Support A/B feature for emmc boot region
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

on property:ro.mtk_ufs_booting=1
    # Support A/B feature for ufs boot region
    symlink /dev/block/sda /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/sdb /dev/block/platform/bootdevice/by-name/preloader_b

    symlink /vendor/lib64/hw/libMcGatekeeper.so   /vendor/lib64/hw/gatekeeper.${ro.hardware}.so
    symlink /vendor/lib64/hw/libMcTeeKeymaster.so /vendor/lib64/hw/keystore.${ro.hardware}.so

  on fs
       install_keyring

   service mtk.plpath.utils.link /sbin/mtk_plpath_utils
       class main
       user root
       group root system
       disabled
       oneshot
       seclabel u:r:recovery:s0

   service keystore_auth /sbin/keystore_auth
       oneshot
       user system
       group root
       disabled
       seclabel u:r:recovery:s0

   service keystore /sbin/keystore /tmp/misc/keystore
       user root
       group root drmrpc readproc log
       disabled
       seclabel u:r:recovery:s0

   service gatekeeper-1-0 /sbin/android.hardware.gatekeeper@1.0-service
       user root
       group root
       disabled
       seclabel u:r:recovery:s0

   service keymaster-3-0 sbin/android.hardware.keymaster@3.0-service
       user root
       group root drmrpc
       disabled
       oneshot
       seclabel u:r:recovery:s0

service attestation-1-1 /sbin/vendor.mediatek.hardware.keymaster_attestation@1.1-service
    interface vendor.mediatek.hardware.keymaster_attestation@1.1::IKeymasterDevice default
    class hal
    #user root
    #group root
    disabled
    seclabel u:r:recovery:s0

 service mobicore /vendor/bin/mcDriverDaemon --sfs-reformat --P1 /mnt/vendor/persist/mcRegistry \
         -r /vendor/app/mcRegistry/020f0000000000000000000000000000.drbin \
         -r /vendor/app/mcRegistry/05120000000000000000000000000000.drbin \
         -r /vendor/app/mcRegistry/070b0000000000000000000000000000.drbin \
         -r /vendor/app/mcRegistry/020b0000000000000000000000000000.drbin \
         -r /vendor/app/mcRegistry/05070000000000000000000000000000.drbin \
         -r /vendor/app/mcRegistry/030b0000000000000000000000000000.drbin \
         -r /vendor/app/mcRegistry/030c0000000000000000000000000000.drbin \
         -r /vendor/app/mcRegistry/07070000000000000000000000000000.drbin \
         -r /vendor/app/mcRegistry/5020170115e016302017012521300000.drbin \
         -r /vendor/app/mcRegistry/40188311faf343488db888ad39496f9a.drbin
     user root
     group root
     disabled
     seclabel u:r:recovery:s0

   on property:vendor.sys.listener.registered=true
       start mobicore
       start gatekeeper-1-0
       start keymaster-3-0
       start attestation-1-1

   on property:hwservicemanager.ready=true
       write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry ++ (FBE encrypted)"
       start mobicore
       write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry -- (FBE encrypted)"
       start gatekeeper-1-0
       start keymaster-3-0
       start attestation-1-1

   on property:ro.crypto.state=unsupported
       stop mobicore
       stop gatekeeper-1-0
       stop keymaster-3-0
       stop attestation-1-1

   on property:ro.crypto.state=unencrypted
       stop mobicore
       stop gatekeeper-1-0
       stop keymaster-3-0
       stop attestation-1-1

   on property:twrp.decrypt.done=true
       stop mobicore
       stop gatekeeper-1-0
       stop keymaster-3-0
       stop attestation-1-1

   on boot
       start boot-hal-1-2
       start health-hal-2-1


