### NOTE ###
import /init.recovery.vivo.rc

on property:ro.mtk_emmc_support=1
    # Support A/B feature for emmc boot region
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

on property:ro.mtk_ufs_booting=1
    # Support A/B feature for ufs boot region
    symlink /dev/block/sda /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/sdb /dev/block/platform/bootdevice/by-name/preloader_b

on fs
    install_keyring

service keystore_auth /sbin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /sbin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service keymaster-3-0 /sbin/android.hardware.keymaster@3.0-service    
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /sbin/android.hardware.gatekeeper@1.0-service   
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service mcDriverDaemon /vendor/bin/mcDriverDaemon
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

# decryption process
on property:hwservicemanager.ready=true
    start mcDriverDaemon
    start keymaster-3-0
    start gatekeeper-1-0

on property:twrp.all.users.decrypted=true
    stop gatekeeper-1-0
    stop keymaster-3-0
    stop mcDriverDaemon

on property:ro.crypto.state=unsupported
    stop gatekeeper-1-0
    stop keymaster-3-0
    stop mcDriverDaemon

on property:ro.crypto.state=unencrypted
    stop gatekeeper-1-0
    stop keymaster-3-0
    stop mcDriverDaemon

on property:twrp.decrypt.done=true
    stop gatekeeper-1-0
    stop keymaster-3-0
    stop mcDriverDaemon
